@import '../styles/constants/colors';

.defaultStyle {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;
  color: $WHITE;
  background: $BACKGROUND;
  border-radius: 20px;

  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background: $GREEN;
  }
}

// default css 값을 넣는 위치도 확인
